.quiz-img {
  background-image: url("./assets/exQUIZite.png");
}

.lister-div {
  background-image: url("./assets/Lister.png");
}
.comingsoon-div {
  background-image: url("./assets/comingsoon.png");
}

.project-text {
  text-align: center;
}
